.btn {
}

.btn-reset {
  margin: 0;

  background: transparent;
  border: none;
  box-shadow: none;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  color: $white;
  text-transform: uppercase;
  border-radius: $--border-radius-base;

  background: linear-gradient(158.58deg, #0097F2 -15.81%, #00ACFF 87.01%);
  box-shadow: 0px 0px 5px #00A0F8;


  transition: 0.1s opacity linear;

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.btn-auth {
  padding: 5px 20px;

  background: $white;
  border-radius: 20px;
  
  text-transform: uppercase;
  color: $bg-darkest;
  font-size: 16px;
  line-height: 18px;

  transform: scale(1);
  transition: 0.2s linear transform;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}