.icon-default {
  color: $icon;
}

.icon-brand--light {
  color: $primary--light;
}

.icon-rotate-180 {
  transform: rotate(180deg);
}

[class|='el-icon'] {
  transition: 0.2s ease-in-out all;
}

[class|='el-icon-search'] {
  color: $primary;
}

i.el-icon-search {
  color: $primary;
}


