.input {
    padding: 10px 15px;

    border-radius: $--border-radius-base;
    background-color: $bg-darkest;

    color: $white;

    &::placeholder {
        color: $info--light;
    }

    &-label {
        color: $white;
    }
}