.link {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: $info;
  text-decoration: none;

  &--hover {
    &:hover,
    &:focus {
      background: $link--hover-bg;
      color: $white;
    }
  }

  transition: all 0.1s linear;
}