.card-syle {
  border-radius: $--border-radius-base;
  box-shadow: $--box-shadow-dark;
  background: $--color-info;
  padding: $block-space;

  transition: $--all-transition;

  &:hover,
  &:focus {
    box-shadow: 9px 3px 22px -8px rgba(0, 0, 0, 0.75);
  }
}