@import "./variables";

.el-col {
  margin-bottom: $block-space;

  .el-col {
    margin-bottom: 0;
  }
}

body {
  /* modal
  -------------------------- */
  .el-dialog {
    // background: $black;

    // border-radius: 5px;
    // background: $bg--most-darkes;
  }

  /* form
  -------------------------- */
  .el-form-item__label {
    color: $label--color;
  }

  .el-input__inner {
    background: $bg-darkest;
    color: $white;
    border-color: $bg-darkest;

    &::placeholder {
      color: $info--light;
    }
  }

  // /* buttons
  // -------------------------- */
  // .el-button {
  //   color: $black;
  //   font-size: calc(8px + 1vw);
  //   line-height: 1.2;

  //   &--primary {
  //     color: $black;
  //     font-size: calc(8px + 1vw);
  //     line-height: 1.2;

  //     @include adopt('sm-and-down') {
  //       font-size: calc(16px + 1vw);
  //     }
  //   }

  //   @include adopt('sm-and-down') {
  //     font-size: calc(16px + 1vw);
  //   }
  // }

  // /* switch
  // ------------*/
  // .el-switch__label {
  //   color: $white;
  // }

  // .el-switch__label * {
  //   font-size: calc(6px + 1vw);
  //   line-height: 1.2;

  //   @include adopt('sm-and-down') {
  //     font-size: calc(16px + 1vw);
  //   }
  // }

  // /* date
  // -------------*/
  // .el-picker-panel  {
  //   background: $black;
  // }

  // /* tabs
  // -----------*/
  // .el-tabs__item {
  //   font-size: calc(10px + 1vw);
  //   line-height: 1.2;

  //   @include adopt('sm-and-down') {
  //     font-size: calc(20px + 1vw);
  //   }
  // }

  .el-popover {
    background: $bg-darkest;
  }

  .el-popper[x-placement^="bottom"] .popper__arrow::after {
    border-bottom-color: $bg-darkest;
  }

  .el-breadcrumb__inner.is-link {
    color: $white;

    &:hover,
    &:focus {
      color: $primary--light;
    }
  }

  .el-tabs__item {
    color: $white;
  }
}
