/* Spaces
-------------------------- */
$block-space: 20px;

/* Colors
-------------------------- */
$black: #222;
$blue: #1c2c54;
$sky-blue: #22edfc;//#4bc3b5;
$pink: #d175b7;
$yellow: #fdee06;

$neon-purple-text-shadow:  0 0 5px #fc4596, 0 0 5px #fc4596, 0 0 60px #f505c5, 0 0 100px #f505c5, 0 0 100px #f505c5;
$neon-sky-blue-text-shadow:   0 0 5px #378f99, 0 0 5px #378f99, 0 0 60px #45e4fc, 0 0 100px #45e4fc, 0 0 100px #45e4fc;
$neon-purple-color: #fcc2e7;
$neon-sky-blue-color: #bff4fe;
