/* Spaces
-------------------------- */
$block-space: 20px;

/* Colors
-------------------------- */
$black: #100e17;
$blue: #1c2c54;
$sky-blue: #22edfc;//#4bc3b5;
$pink: #d175b7;
$yellow: #fdee06;
$red: #ff6766;
$white: #fff;

$neon-purple-text-shadow:  0 0 5px #fc4596, 0 0 5px #fc4596, 0 0 60px #f505c5, 0 0 100px #f505c5, 0 0 100px #f505c5;
$neon-sky-blue-text-shadow:   0 0 5px #378f99, 0 0 5px #378f99, 0 0 60px #45e4fc, 0 0 100px #45e4fc, 0 0 100px #45e4fc;
$neon-yellow-text-shadow:   0 0 5px #c1ce13, 0 0 5px #c1ce13, 0 0 60px #f1ed0d, 0 0 100px #f1ed0d, 0 0 100px #f1ed0d;
$neon-purple-color: #fcc2e7;
$neon-sky-blue-color: #bff4fe;
$neon-yellow-color: #e3ec69;

$neon-shadow-red: 0 2px 4px 3px #ff6766;
$neon-shadow-yellow: 0 2px 4px 3px #fdee06;
$neon-shadow-blue: 0 2px 4px 3px #22edfc;


$btn-primary-bg: linear-gradient(158.64deg, #0097F2 -15.81%, #00ACFF 87.01%);
$btn-primary-shadow: 0px 0px 10px rgba(0, 156, 245, 0.478);

$primary: #C4512A;
$primary--light: #0089D2;

$status--streaming: #32B20B;
$status--online: #0095FF;
$status--offline: #001829;
$status-border: #040E1D;

$user-icon-border: rgba(112, 112, 112, 0.15);

$info: #314959;
$info--light: rgba(49, 73, 89, 0.75);

$icon: #46576B;

$bg-brighter:  rgba(255, 255, 255, 0.03);
$bg--light: rgba(15, 29, 51, 0.8);
$bg--dark: rgba(2, 11, 25, 0.5);
$bg--darker: rgba(2, 11, 25, 0.7);
$bg-darkest: #071020;
$bg--most-darkest: #020B19;

$border-color: rgba(255, 255, 255, 0.02);

$link--hover-bg: #152032;




/* category color
----------*/
