@import './element-variables';
@import './element-overwrite.scss';

$assets: '~@/assets/';

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  background: url($assets + 'space.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;

  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  padding-right: 0 !important; //element ui add padding to body
  min-height: 100%;

  font-family: $text-font;
  font-size: inherit;
  line-height: inherit;

  background-color: $bg--light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $white;
}


a {
}

p {
}

div {
}

button {
  font-family: $text-font;

  &:hover {
    cursor: pointer;
  }
}

label,
input {
  font-family: $text-font;
}


.ul {
  list-style: none;
  margin: 0;
  padding: 0;

  &>li {
    margin: 0;
    padding: 0;
  }
}


.layout {
  margin: 0 auto;
}

.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@import './common/btn.scss';
// @import './common/cards.scss';

@import './common/section-title.scss';

@import './common/logo.scss';
@import './common/icon.scss';
@import './common/link.scss';
@import './common/animation.scss';


