@import './element-variables';
@import './variables';
@import './element-overwrite.scss';

body {
  margin: 0;
  padding: 0;

  background: $black;
  font-family:$text-font;
}

a {
  color: $yellow;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;

  &>li {
    margin: 0;
    padding: 0;
  }
}

.card-syle {
  border-radius: $--border-radius-base;
  box-shadow: $--box-shadow-dark;
  background: $--color-info;
  padding: $block-space;

  transition: $--all-transition;
  
  &:hover,
  &:focus {
    box-shadow: 9px 3px 22px -8px rgba(0,0,0,0.75);
  }
}

.layout {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}