.el-col {
  margin-bottom: $block-space;

  .el-col {
    margin-bottom: 0;
  }
}

body {

   /* modal
  -------------------------- */
  .el-dialog {
    background: $black;
  }

   /* form
  -------------------------- */
  .el-form-item__label {
    color: $sky-blue;
  }

  /* buttons
  -------------------------- */
  .el-button {
    color: $black;
    font-size: calc(8px + 1vw);
    line-height: 1.2;

    &--primary {
      color: $black;
      font-size: calc(8px + 1vw);
      line-height: 1.2;

      @include adopt('sm-and-down') {
        font-size: calc(16px + 1vw);
      }
    }

    @include adopt('sm-and-down') {
      font-size: calc(16px + 1vw);
    }
  }
}